/* Bootstrap add-on styling */
.center-col-9 {
    position: relative;
    left: 12.5%;
    right: -12.5%;
}

/* Overall site styling */
body.content-container {
    background: #ffddaa; /* Very Pale red */
    padding: 0px 10% 50px 10%;
}


/* Header styling */
.main-title {
    font-size: 350%;
}
header .main-title {
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: -5px;
}
.main-sub-title {
    font-size: 200%;
    text-align: center;
    float:left;
    line-height: 100%;
    width: 98%; /* Looked off-center below title text even when its not */
}

img.elephant-icon {
    height: 80px;
    width: 100px;
    float: left;
}
header img.elephant-icon {
    margin-top: 20px;
    margin-bottom: -95px;
}


/* Navbar styling */
.navbar {
    clear: both;
    background: #ffddaa;

    border-bottom: 3px solid #990066; /* Dark Purple */
    border-top: none;    
    border-left: none;    
    border-right: none;    
}

/* Used to center navbar if desired
.navbar .navbar-nav {
    float: none;
    display: inline-block;
}

.navbar-collapse {
    text-align: center;
}
*/

.navbar div {
    padding: 0px 0px 0px 0px;
}


.navbar-default .navbar-nav > li > a {
    color: #d33300; /* Dark Orange */
}
.navbar-default .navbar-nav > li > a:hover {
    color: #990066;
}

/* Page content-body styling */
.page-title {
    margin: 0px 0px 20px 0px; 
}

/* Fonts */
@font-face {
    font-family: 'GreatVibes';
    src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

.wedding-font {
    font-family: GreatVibes, serif;
}

/* Bridal Party Page styles */
.column-title {
    text-align: center;
}

.bridal-party__container {
    height: 150px;
    margin-bottom: 20px;
}

.bridal-party__entry{
    float: left;
    display: inline;
    width: 75%;
}

.bridal-party__entry .bridal-party__name {
    float: none;
    font-size: large;
}

.bridal-party__entry .bridal-party__description {
}

.bridal-party__img {
    float: left;
    width: 25%;
    height: 100%;
}

/* Registry Page styles */
div.registry__container {
    padding-left: 15px;
    padding-right: 15px;
}

.registry__icon {
    height: 40px;
    width: 120px;
    border-radius: 5px;
}
