.wedding-row__element {
    /*max-width: 50%;*/
    min-width: 250px;
    text-align: center;
}
/*.wedding-row__element img {
    width: 100%;
}
*/

@media (min-width: 500px) {
    .wedding-row__element {
        max-width:50%;
    }
}

.party-pic {
    width: 100%;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Bootstrap add-on styling */
.center-col {
    padding-left: 10%;
    padding-right: 10%;
}

/* Overall site styling */
body.content-container {
    background: #ffd6aa; /* Very Pale red */
    padding: 0px 10% 50px 10%;
}

.overview-row {
    padding-bottom: 50px;
}

.linebreak {
    width: 100%;
    height: 3px;
    background-color: #990066; /* Dark Purple */
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

/* Header styling */
.main-title__container {
    width: 100%;
    text-align: center;
}

.main-title__container a {
    text-decoration: none;
}

.main-title {
    font-size: 350%;
    color: black;
}
header .main-title {
    text-align: center;
}
.main-sub-title {
    font-size: 200%;
    text-align: center;
    line-height: 100%;
    color: black;
    position: relative;
    top: -10px;
}

img.elephant-icon--small {
    height: 3.5rem;
    width: 5.5rem;
    float: left;
}

/* Navbar styling */
.navbar {
    clear: both;
    background: #ffd6aa;

    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.navbar__border-bottom {
    width: 120%;
    height: 3px;
    margin-left: -10%;
    background-color: #990066; /* Dark Purple */
    position: relative;
    bottom: 3px;
}

/* Used to center navbar if desired*/
.navbar .navbar-icon__container {
    float: none;
    display: inline-block;
    margin-left: -1.5rem;
    padding-right: 1.5rem;
}

.navbar-icon-xs {
    vertical-align: middle;
}

.navbar .navbar-nav {
    float: none;
    display: inline-block;
}

#eg-navbar-default {
    text-align: center;
}

#eg-navbar-default .navbar-nav {
    margin-bottom: -0.75rem;
}

.navbar-collapse {
    text-align: center;
}

.navbar div {
    padding: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-nav .open .dropdown-menu > li > a.eg-menu-item {
    color: #d33300; /* Dark Orange */
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    color: #d33300; /* Dark Orange */
}
.navbar-default .navbar-nav > li > a:hover {
    color: #990066;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background: #ffd6aa; /* Very Pale red */
    color: #990066; /* Dark Purple */
    border-color: #990066; /* Dark Purple */
    border-radius: 8px;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #990066; /* Dark Purple */
}

.navbar-default .navbar-nav > li > a.selected {
    background-color: #990066; /* Dark Purple */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 4rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    color: white;
}

.selected.rounded-border {
    border-radius: 8px;
}

/* Page content-body styling */
.page-title {
    margin: 0px 0px 20px 0px; 
}

/* Fonts */
@font-face {
    font-family: 'GreatVibes';
    src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

.wedding-font {
    font-family: GreatVibes, serif;
}

/* Bridal Party Page styles (take 2)*/
.column-title {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.bridal-party-title {
    position: relative;
    left: 0.9rem; /* Length of 'His & Hers' text is not symmetric, so center on '&' */
}

.bridal-party-title span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.party-member {
    width: 36%; /* So will be 36% * 50% = 18% of page width */
    height: auto;
}

.party-member__row {
    display: table;
}

.groomsman__container {
    float: left;
    clear: left;
    width: 50%;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}

.groomsman__info {
    width: 64%; /* 100% - img's width */
    float: right;
    padding-right: 1.5rem;
}

.groomsman__img {
    float: right;
}

.groomsman__name {
    font-size: large;
    float: right;
    clear: both;
    text-align: right;
}

.groomsman__relation {
    float: right;
    clear: both;
    text-align: right;
}

.groomsman__description {
    float: right;
    clear: both;
    text-align: right;
}

.bridesmaid__container {
    float: right;
    clear: right;
    width: 50%;
    padding-left: 0.5rem;
    padding-bottom: 1rem;
}

.bridesmaid__info {
    width: 64%; /* 100% - img's width */
    float: left;
    padding-left: 1.5rem;
}

.bridesmaid__img {
    float: left;
}

.bridesmaid__name {
    font-size: large;
    float: left;
    clear: both;
    text-align: left;
}

.bridesmaid__relation {
    float: left;
    clear: both;
    text-align: left;
}

.bridesmaid__description {
    float: left;
    clear: both;
    text-align: left;
}

/* Registry Page styles */
div.registry__container {
    padding-left: 15px;
    padding-right: 15px;
}

.registry__icon {
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.registry__img {
    width: 100%;
}

/* Hotel Page styles */
.hotel__info {
    height: 225px;
}

.hotel__img {
    height: 175px;
    width: auto;
    max-width: 125%;
    margin-bottom: 50px;
}

/* Gallery Page styles */
.gallery__row {
    /*width: 100%;*/
    overflow: auto;
    padding-bottom: 2rem;
}

.gallery__container {
    width: 50%;
    display: inline-block;
    position: relative;
    float: left;
    padding-left: 3%;
    padding-right: 3%;
}

.gallery__img-container {
    width: 100%;
    display: inline-block;
    position: relative;
}
.gallery__img-container:after {
    padding-top: 75%; /* 4:3 ratio */
    display: block;
    content: '';
}

.gallery__img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
}

.gallery__description {
    text-align: center;
}
