/* Bootstrap add-on styling */
.center-col-9 {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

/* Overall site styling */
body.content-container {
    background: #ffddaa; /* Very Pale red */
    padding: 0px 10% 50px 10%;
}

.overview-row {
    padding-bottom: 50px;
}

/* Header styling */
.main-title__container {
    width: 100%;
    text-align: center;
}

.main-title__container a {
    text-decoration: none;
}

.main-title {
    font-size: 350%;
    color: black;
}
header .main-title {
    text-align: center;
}
.main-sub-title {
    font-size: 200%;
    text-align: center;
    line-height: 100%;
    /*width: 98%;  Looked off-center below title text even when its not */
    color: black;
    position: relative;
    top: -10px;
}

img.elephant-icon--small {
    height: 3.5rem;
    width: 5.5rem;
    float: left;
}

/* Navbar styling */
.navbar {
    clear: both;
    background: #ffddaa;

    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.navbar__border-bottom {
    width: 120%;
    height: 3px;
    margin-left: -10%;
    background-color: #990066; /* Dark Purple */
    position: relative;
    bottom: 3px;
}

/* Used to center navbar if desired*/
.navbar .navbar-icon__container {
    float: none;
    display: inline-block;
    margin-left: -1.5rem;
    padding-right: 1.5rem;
}

.navbar .navbar-nav {
    float: none;
    display: inline-block;
    margin-bottom: -0.75rem;
}

.navbar-collapse {
    text-align: center;
}

.navbar div {
    padding: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-default .navbar-nav > li > a {
    color: #d33300; /* Dark Orange */
}
.navbar-default .navbar-nav > li > a:hover {
    color: #990066;
}

.navbar-default .navbar-nav > li > a.selected {
    background-color: #990066; /* Dark Purple */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 4rem;
    margin-top: 0.5rem;
    padding-top: 1rem;
    color: white;
}

.selected.rounded-border {
    border-radius: 8px;
}

/* Page content-body styling */
.page-title {
    margin: 0px 0px 20px 0px; 
}

/* Fonts */
@font-face {
    font-family: 'GreatVibes';
    src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

.wedding-font {
    font-family: GreatVibes, serif;
}

/* Bridal Party Page styles */
.column-title {
    text-align: center;
}

.bridal-party__container {
    height: 150px;
    margin-bottom: 20px;
}

.bridal-party__entry{
    float: left;
    display: inline;
    width: 70%;
}

.bridal-party__entry .bridal-party__name {
    float: none;
    font-size: large;
}

.bridal-party__entry .bridal-party__description {
}

.bridal-party__img {
    float: left;
    width: 30%;
    height: 100%;
}

/* Registry Page styles */
div.registry__container {
    padding-left: 15px;
    padding-right: 15px;
}

.registry__icon {
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

/* Hotel Page styles */
.hotel__info {
    height: 225px;
}

.hotel__img {
    height: 175px;
    width: auto;
    margin-bottom: 50px;
}

/* Gallery Page styles */
.gallery__img {
    width: 80%;
    margin-left: 10%;
}

.gallery__description {
    text-align: center;
}
