html, body {
    /* any div up to fullscreen-cont must have this
    in this case html and body */
    height:100%;
    min-height:100%;
}
.fullscreen-cont {
    display:block;
    position:relative;
    min-width:100%;
    min-height:100%;
}
.fullscreen-img {
    display:block;
    position:absolute;
    z-index:1;

    min-width:100%;
    min-height:100%;
    background:transparent url(../images/stoop_crop2.jpg) center center no-repeat;
    background-size:cover;
}

.title__container {
    position: relative;
    width: 33%;
    float: right;
    z-index: 2;
    top: 6.5rem;
    padding-right: 10%;
}

.title {
    color: white;
    display: none; /* Needed to hide title on load, until font size determined*/
}
.title.main {
    margin-bottom: -1rem;
}

.content {
    display: block;
    position: relative;
    z-index: 2;
    bottom: 15%;
}
/* custom setting */
body{
    margin:0;
    color:#ffffff;
    font-size:16px;
    text-align:center;
    font-family:sans-serif;
}
.fullscreen-cont {
    margin-bottom:2px;
}
